@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #172727;
}

#play {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #00FF66;
    border-radius: 50%;
    box-shadow: 0 0 12px #00FF66;
}

#play:focus {
    outline: none
}

#points {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 82%;
    right: 20%;
    box-shadow: inset 0 0 12px #00FF66;
    border-radius: 40px;
    text-align: center;
    line-height: 60px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    font-family: 'Play', sans-serif;
}

#power {
    position: absolute;
    width: 160px;
    height: 160px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    top: 72%;
    left: 20%;
    box-shadow: inset 0 0 12px #FFFF00;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    font-family: 'Play', sans-serif;
}

#reload {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    font-size: 40px;
    color: #FFFF00;
    text-transform: uppercase;
    backdrop-filter: blur(8px);
    font-weight: bold;
    animation: animate 3s ease-in-out infinite;
    font-family: 'Play', sans-serif;
}

@keyframes animate {
    0% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
    50% {
        text-shadow: 0 0 5px #FFFF00;
        box-shadow: inset 0 0 60px 12px #e92302, 0 0 200px 10px #e92302;
    }
    100% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
}