@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #172727;
}

#play {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    border: none;
    color: #78fdfa;
    font-weight: bold;
    background-color: transparent;
    border-radius: 40px;
    animation: playanimate 3s linear infinite;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    text-indent: 20px;
}

@keyframes playanimate {
    0% {
        box-shadow: inset 0 0 12px 4px #78fdfa;
        text-shadow: 0 0 2px #78fdfa;
    }
    50% {
        box-shadow: inset 0 0 8px 1.5px #78fdfa;
        text-shadow: 0 0 12px #78fdfa;
    }
    100% {
        box-shadow: inset 0 0 12px 4px #78fdfa;
        text-shadow: 0 0 2px #78fdfa;
    }
}

#play:focus {
    outline: none
}

#points {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 10%;
    right: 10%;
    box-shadow: inset 0 0 12px #00FF66;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    font-family: 'Play', sans-serif;
}

#power {
    position: absolute;
    width: 160px;
    height: 160px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    bottom: 10%;
    left: 10%;
    box-shadow: inset 0 0 12px #FFFF00;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    font-family: 'Play', sans-serif;
}

#reload {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    font-size: 40px;
    color: #FFFF00;
    text-transform: uppercase;
    backdrop-filter: blur(8px);
    font-weight: bold;
    animation: animate 3s ease-in-out infinite;
    font-family: 'Play', sans-serif;
    letter-spacing: 4px;
    text-indent: 4px;
}

@keyframes animate {
    0% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
    50% {
        text-shadow: 0 0 5px #FFFF00;
        box-shadow: inset 0 0 60px 12px #e92302, 0 0 200px 10px #e92302;
    }
    100% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
}

@media (max-width: 750px) {
    #power {
        width: 100px;
        height: 100px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 18px;
        bottom: 20%;
        box-shadow: inset 0 0 12px #FFFF00;
        line-height: 100px;
    }
    #points {
        width: 100px;
        height: 100px;
        bottom: 20%;
        box-shadow: inset 0 0 12px #00FF66;
        text-align: center;
        line-height: 100px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 18px;
    }
    #play {
        top: 84%;
        width: 140px;
        height: 40px;
        font-size: 18px;
        letter-spacing: 12px;
        text-indent: 20px;
    }
    #reload {
        width: 200px;
        height: 200px;
        font-size: 20px;
        color: #FFFF00;
    }
}