@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #172727;
}

#info1 {
    position: absolute;
    width: 400px;
    height: 400px;
    color: #FFFF00;
    text-shadow: 0 0 10px #FFFF00;
    box-shadow: inset 0 0 34px #FFFF00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 130px;
    font-family: 'Play', sans-serif;
    display: none;
}

#info1 ul {
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}

#info2 {
    position: absolute;
    width: 220px;
    height: 220px;
    box-shadow: inset 0 0 24px #FFFF00;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Play', sans-serif;
    display: none;
    line-height: 66px;
    display: none;
}

#info2 h1 {
    color: #FFFF00;
}

#up,
#down,
#left,
#right {
    line-height: 0px;
    font-weight: bold;
    color: #FFFF00;
}

.details {
    line-height: 35px;
    animation: controlanime 2s linear infinite;
}

@keyframes controlanime {
    0% {
        color: #ffff0036;
        text-shadow: 0 0 2px #FFFF00;
    }
    20% {
        color: #ffff00;
        text-shadow: 0 0 15px #FFFF00;
    }
    80% {
        color: #ffff00;
        text-shadow: 0 0 15px #FFFF00;
    }
    100% {
        color: #ffff0017;
        text-shadow: 0 0 2px #FFFF00;
    }
}

#play {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    border: none;
    color: #78fdfa;
    font-weight: bold;
    background-color: transparent;
    border-radius: 40px;
    animation: playanimate 3s linear infinite;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    text-indent: 20px;
}

@keyframes playanimate {
    0% {
        box-shadow: inset 0 0 12px 4px #78fdfa;
        text-shadow: 0 0 2px #78fdfa;
    }
    50% {
        box-shadow: inset 0 0 8px 1.5px #78fdfa;
        text-shadow: 0 0 12px #78fdfa;
    }
    100% {
        box-shadow: inset 0 0 12px 4px #78fdfa;
        text-shadow: 0 0 2px #78fdfa;
    }
}

#play:focus {
    outline: none
}

#points {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 10%;
    right: 10%;
    box-shadow: inset 0 0 12px #00FF66;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    font-family: 'Play', sans-serif;
}

#power {
    position: absolute;
    width: 160px;
    height: 160px;
    color: #FFFF00;
    text-shadow: 0 0 6px #FFFF00;
    font-size: 28px;
    bottom: 10%;
    left: 10%;
    box-shadow: inset 0 0 12px #FFFF00;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    font-family: 'Play', sans-serif;
}

#reload {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    font-size: 40px;
    color: #FFFF00;
    text-transform: uppercase;
    backdrop-filter: blur(8px);
    font-weight: bold;
    animation: animate 3s ease-in-out infinite;
    font-family: 'Play', sans-serif;
    letter-spacing: 4px;
    text-indent: 4px;
}

@keyframes animate {
    0% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
    50% {
        text-shadow: 0 0 5px #FFFF00;
        box-shadow: inset 0 0 60px 12px #e92302, 0 0 200px 10px #e92302;
    }
    100% {
        text-shadow: 0 0 25px #FFFF00;
        box-shadow: inset 0 0 20px 10px #e92302;
    }
}

@media (max-width: 750px) {
    #power {
        width: 70px;
        height: 70px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 12px;
        bottom: 20%;
        box-shadow: inset 0 0 12px #FFFF00;
        line-height: 70px;
    }
    #points {
        width: 70px;
        height: 70px;
        bottom: 20%;
        box-shadow: inset 0 0 12px #00FF66;
        text-align: center;
        line-height: 70px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 12px;
    }
    #play {
        bottom: 84%;
        width: 140px;
        height: 40px;
        font-size: 18px;
        letter-spacing: 12px;
        text-indent: 20px;
    }
    #reload {
        width: 200px;
        height: 200px;
        font-size: 20px;
        color: #FFFF00;
    }
}

@media (max-height: 500px) {
    #power {
        width: 90px;
        height: 90px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 8px;
        bottom: 18%;
        box-shadow: inset 0 0 12px #FFFF00;
        line-height: 90px;
        left: 30%;
    }
    #points {
        width: 90px;
        height: 90px;
        bottom: 18%;
        box-shadow: inset 0 0 12px #00FF66;
        text-align: center;
        line-height: 90px;
        text-shadow: 0 0 4px #FFFF00;
        font-size: 8px;
        right: 30%;
    }
    #play {
        bottom: 25%;
        width: 80px;
        height: 20px;
        font-size: 10px;
        letter-spacing: 8px;
        text-indent: 10px;
    }
    #reload {
        width: 200px;
        height: 200px;
        font-size: 20px;
        color: #FFFF00;
    }
}

@media(min-width:1366px) {
    #info1 {
        display: block;
    }
}

@media(max-width:1365.99px) {
    #info2 {
        display: block;
    }
}